<div class="col-12" ng-show="!searching">

<h1>Test Requirements</h1>

<h2 class="margin-top">Pre-reqs</h2>
<p>Javascript, CSS, HTML5, Photoshop/Design/Bootstrap Skills</p>

<h2 class="margin-top">Goal</h2>
<p>Setup a full screen grid of items that utilizes the Itunes Search API</p>

<h2 class="margin-top">Test Steps</h2>
<ul>
  <li>Design Requirements (expected time 8 hours)
    <ul>
      <li>Website must be Mobile and Web Friendly. IE: Ensure it looks damn good on a phone and works.</li>
      <li>Must have top bar with several categories at the top of the screen. It should be clear one is highlighted, Movie is highlighted by default.</li>
      <li>Search Results should appear in a huge scrollable grid.</li>
      <li>Search Bar must present at top</li>
    </ul>
  </li>
  <li> Grid Item Card
    <ul>
      <li>Must show name of the item, and large image.</li>
      <li>When you click on the item, it should transform and show (a) the long description and (b) a Buy Button at the bottom in any shape or form.</li>
      <li>When you select a new item card, the previously selected one will be unselected.</li>
      <li>Website requires at least one animation</li>
    </ul>
  </li>
</ul>
</div>